
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-Bold.eot');
	src: url('../fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/Gotham-Bold.woff') format('woff'), url('../fonts/gotham/Gotham-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-BoldItalic.eot');
	src: url('../fonts/gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/Gotham-BoldItalic.woff') format('woff'), url('../fonts/gotham/Gotham-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-BookItalic.eot');
	src: url('../fonts/gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/Gotham-BookItalic.woff') format('woff'), url('../fonts/gotham/Gotham-BookItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham/Gotham-Book.eot');
	src: url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/Gotham-Book.woff') format('woff'), url('../fonts/gotham/Gotham-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Didot';
	src: url('../fonts/didot/Didot.eot');
	src: url('../fonts/didot/Didot.eot?#iefix') format('embedded-opentype'),
		url('../fonts/didot/Didot.woff') format('woff'),
		url('../fonts/didot/Didot.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
