html, body {
	width: 100%;
	height: 100%;
}

#app {
	width: 100%;
	height: 100%;
}
img.resp {
	display: block;
	max-width: 100%;
}

header ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	li {
		opacity: 1;
		transition: .2s opacity ease;
	}
	li.parent {
		display: none;
	}
	li a {
		color: #2b2b2b;
		text-transform: uppercase;
		font-weight: 500;
		margin: 0 10px;
		font-size: 13px;
		letter-spacing: 1px;
		transition: .2s color ease;
	}
	li a:hover, li a:focus, li a.router-link-active {
		text-decoration: none;
		color: #33b3ce;
	}
	li.book-now a {
		background-color: #33b3ce;
		color: #fff;
		padding: 10px;
		border-radius: 2px;
	}
}

footer ul {
	margin: 0;
}

.section {
	padding: 60px 0;
	h1, h2 {
		text-align: center;
		font-size: 1.8em;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 400;
		color: #2b2b2b;
		display: block;
		margin: 0 auto 20px auto;
		padding-bottom: 20px;
		&:after {
			content: "";
			border-bottom: 3px solid #33b3ce;
			height: 5px;
			width: 30px;
			display: block;
			margin: 20px auto 0 auto;
		}
	}
	h2 {
		font-size: 1.4em;
		margin-bottom: 10px;
	}
	.pg {
		max-width: 640px;
		text-align: justify;
		margin: 0 auto;
	}
	hr {
		margin-top: 4rem;
		margin-bottom: 4rem;
		border-top: 1px solid rgba(#33b3ce, .5)
	}
}

table.table {
	tr.th {
		background-color: #33b3ce;
		color: #fff;
		th {
			font-weight: 400;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 1px;
		}
	}
	tr td {
		font-size: 14px;
	}
}

@include phone-and-tablet {
	header { position: relative }
	header ul {
		flex-wrap: wrap;
		li {
			width: 100%;
			opacity: 1;
			margin: 5px 0;
		}
		li.parent {
			display: block;
		}
	}
	.menu-hide {
		opacity: 0;
		display: none;
	}
	.section {
		padding: 40px 10px !important;
		h1 {
			font-size: 1.2em !important;
		}
		.pg {
			font-size: 14px;
		}
		hr {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		h2 {
			font-size: 1em;
			padding-bottom: 10px;
			&:after {
				margin-top: 10px;
			}
		}
	}
	table.table tr.th th {
		font-size: 10px;
	}
	table.table tr td {
		font-size: 11px;
	}
}

.lightbox { display: none }