<template>
	<div class="sections">
		<div class="intro">
			<img src="../../assets/images/accommodations.jpg" alt="">
		</div>
		<div class="section home">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1>accommodations</h1>
						<div class="pg">
							<p>One Bedroom Villas at The Villas at Katala Suites and Villas is perfect for a honeymoon in Bali and travelers seeking an intimate haven to relax, refresh and rebalance to the tranquil island spirit. And the Two bedroom Villas perfect for family travelers. Private pool villas in Katala features luxurious linens, indigenous artworks, separate living areas and enormous bathrooms. Suites wit Garden view perfect for travelers with low budget.</p>
							<p>From arrival at the Katala Lobby, enjoy maximum privacy and service from butlers, complemented by the Katala Little Luxuries and extensive on-site facilities. Cherish a soul-balancing massage, or lazy days with no disturbances.<br>
							Katala Suites and Villas located in high safety area. We Provide 24 Hour private safety service. For Guest that first time to Bali we provide airport service under request ( with additional cost ) . And also we provide motor rent or tour service.</p>
							<p>There's a lot famous place near Katala Suites and Villas. Most of them is restaurant and café. We can arrange reservation with pick up service for some café or restaurant.</p>
							<p>Please select the type of villa you require based on the number of beds needed.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="select-accommodations">
			<template v-for="acco in accommodations">
				<router-link :to="`/accommodations/${acco.id}/${acco.slug}`">
					<img :src="loadImage(acco.id)" />
					<div class="desc">
						<h3>{{ acco.name }}</h3>
						<p>{{ acco.desc }}</p>
					</div>
				</router-link>
			</template>
		</div>
	</div>
</template>

<script>
import { Acco } from '../../data/accommodations'
export default {
	name: 'AccommodationsIndex',
	data () {
		return {
			accommodations: Acco
		}
	},
	methods: {
		loadImage(id) {
			return require('../../assets/images/acco/acco-'+ id +'.jpg')
		}
	}
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/mixins.scss';
.sections {
	width: 100%;
}
.intro {
	width: 100%;
	img {
		display: block;
		max-width: 100%;
	}
}
.acco-text {
	img.resp {
		margin: 0 auto;
	}
	a.name {
		font-family: Didot;
		color: #2b2b2b;
		font-size: 2.2em;
		letter-spacing: -1px;
		display: block;
		margin-bottom: 10px;
		&:hover {
			text-decoration: none;
			color: #33b3ce
		}
	}
	p.desc {
		font-size: 14px;
		margin-bottom: 2rem;
		padding-left: 20em;
		padding-right: 20em;
	}
	@include phone-and-tablet {
		a.name {
			font-size: 1.8em;
		}
		p.desc {
			padding-left: 0;
			padding-right: 0;
			font-size: 13px;
			margin-bottom: 1rem;
		}
	}
}
hr { border-top: 1px solid #e5e5e5 !important }
.select-accommodations {
	display: flex;
	flex-wrap: no-wrap;
	width: 100%;
	a:last-child {
		border-right: 0;
	}
	a {
		position: relative;
		display: block;
		max-width: 100%;
		border-top: 5px solid #eee;
		transition: .2s all ease;
		border-right: 1px solid #eee;
		&:hover {
			border-top: 5px solid #33b3ce;
			span { opacity: 1; }
			text-decoration: none;
			.desc h3 { color: #33b3ce }
		}
		span {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			text-transform: uppercase;
			color: #fff;
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: 400;
			text-align: center;
			background-color: rgba(#000, .5);
			opacity: .5;
			transition: .2s opacity ease;
		}
		.desc {
			padding: 1em;
			h3 {
				font-family: 'Didot';
				color: #222;
				margin-bottom: .5em;
			}
			p {
				font-size: 13px;
				text-align: justify;
				color: #2b2b2b;
			}
		}
	}
	a img {
		display: block;
		margin: 0;
		padding: 0;
		max-width: 100%;
	}
	@include phone-and-tablet {
		a { border-right: 0 }
	}
}
@include phone {
	.select-accommodations {
		flex-wrap: wrap;
	}
}
</style>
