<template>
	<div class="sections">
		<div class="intro">
			&nbsp;
		</div>
		<div class="navigation">
			<div class="container">
				<div class="row">
					<div class="col-12 nav-links">
						<router-link to="/">Home</router-link> <i class="fa fa-fw fa-angle-right"></i>
						<router-link to="/accommodations">Accommodations</router-link> <i class="fa fa-fw fa-angle-right"></i>
						{{ acco.name }}
					</div>
				</div>
			</div>
		</div>
		<div class="section home">
			<div class="container">
				<div class="row">
					<div class="col-12 acco-text text-left">
						<h3>{{ acco.name }}</h3>
						<div class="slide-wrapper">
							<div class="slide slide-transition" v-for="(slide, index) in slides" v-slide="{ prev: prevSlide, slideId: index, current: currentSlide }">
								<img :src="loadImage(slide.src)">
							</div>
							<a href="#" @click.prevent="prev" class="prev"><i class="fa fa-fw fa-angle-left"></i></a>
							<a href="#" @click.prevent="next" class="next"><i class="fa fa-fw fa-angle-right"></i></a>
						</div>
						<br>
						<div class="desc" v-html="acco.ldesc"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 facilities">
						<hr>
						<h2>facilities</h2>
						<ul>
							<li v-for="facility in acco.facilities">{{ facility }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { Acco } from '../../data/accommodations'
const Slides = [
{ id: 1, src: '1.jpg' },
{ id: 2, src: '2.jpg' },
{ id: 3, src: '3.jpg' },
{ id: 4, src: '4.jpg' }
]

export default {
	name: 'AccommodationView',
	data () {
		return {
			slides: Slides,
			currentSlide: 0,
			duration: 3000
		}
	},
	computed: {
		acco() {
			return _.find(Acco, (o) => o.id == this.$route.params.id)
		},
		prevSlide() {
			if (this.currentSlide == 0) {
				return this.slides.length - 1
			}
			return this.currentSlide - 1
		},
		nextSlide() {
			if (this.currentSlide == this.slides.length - 1) {
				return 0
			}
			return this.currentSlide + 1
		}
	},
	methods: {
		loadImage(src) {
			return require('../../assets/images/acco/'+ this.$route.params.id +'/'+ src)
		},
		next() {
			window.clearInterval(window.slideInterval)
			this.slideInterval()
			if (this.currentSlide == this.slides.length - 1) {
				this.currentSlide = 0
			} else {
				this.currentSlide++
			}
		},
		prev() {
			if (this.currentSlide == 0) {
				this.currentSlide = this.slides.length - 1
			} else {
				this.currentSlide -= 1
			}
		},
		slideInterval() {
			window.slideInterval = setInterval(() => {
				this.next()
			}, this.duration)
		}
	},
	created() {
		this.slideInterval()
	},
	destroyed() {
		window.clearInterval(window.slideInterval)
	},
	directives: {
		slide: function (el, binding) {
			let slideId = binding.value.slideId,
			current = binding.value.current,
			prev    = binding.value.prev

			if (slideId == current) {
				el.style.opacity = 1
				el.className = 'slide current-slide'
			} else if (slideId == prev) {
				el.style.opacity = 0
				el.className = 'slide previous-slide'
			} else {
				el.style.opacity = 0
				el.className = 'slide next-slide'
			}
		}
	}
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/mixins.scss';
.sections {
	width: 100%;
}
.intro {
	width: 100%;
	padding-top: 114px;
	@include phone-and-tablet {
		padding-top: 0px;
		height: 0;
	}
}
.navigation {
	background-color: #f3f3f3;
	padding: 15px 0;
	text-align: center;
	.nav-links {
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
		a {
			color: #33b3ce;
			font-weight: 500;
			&:hover { text-decoration: none }
		}
	}
}
.acco-text {
	img.resp {
		margin: 0 auto;
	}
	h3 {
		font-family: Didot;
		color: #2b2b2b;
		font-size: 2.2em;
		letter-spacing: -1px;
		display: block;
		margin-bottom: 50px;
		text-align: center;
	}
	.desc {
		margin-top: 2rem;
		font-size: 14px;
		margin-bottom: 2rem;
		padding-left: 20em;
		padding-right: 20em;
		@include phone {
			margin-top: 0;
		}
	}
	@include phone-and-tablet {
		h3 {
			font-size: 1.8em;
		}
		.desc {
			padding-left: 0;
			padding-right: 0;
			font-size: 13px;
			margin-bottom: 1rem;
		}
	}
}
.slide-wrapper {
	width: 100%;
	max-width: 1000px;
	max-height: 667px;
	min-height: 667px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	@include phone {
		height: auto;
		min-height: 217px !important;
	}
	@include tablet {
		height: auto;
		min-height: 460px;
	}
	.slide {
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity 1.1s ease, transform 1s ease-out;
		img {
			display: block;
			max-width: 100%;
		}
	}
	.current-slide {
		transition: transform 1s ease-out;
		transform: translateX(0);
		z-index: 1;
	}
	.previous-slide {
		transform: translateX(-100%);
	}
	.next-slide {
		transform: translateX(100%);
	}
	a {
		display: inline-block;
		position: absolute;
		top: 48%;
		z-index: 9;
		color: #fff;
		background-color: rgba(#000, .5);
		padding: 5px 7px;
		font-size: 20px;
		&:hover {
			background-color: rgba(#000, .8)
		}
		@include phone {
			font-size: 14px;
		}
	}
	a.prev {
		left: 0;
	}
	a.next {
		right: 0;
	}
}
hr { border-top: 1px solid #e5e5e5 !important }
.facilities ul {
	list-style: none;
	padding: 0;
	margin: 0 17.5em;
	display: flex;
	flex-wrap: wrap;
	li {
		width: 33.33%;
		display: block;
		font-size: 13px;
		margin-bottom: 5px;
		line-height: 160%;
		border-bottom: 1px solid #eee;
		padding-bottom: 5px;
		padding-right: 5px;
	}
	@include phone-and-tablet {
		margin: 0 0;
		li {
			font-size: 13px;
		}
		li:last-child {
			border-bottom: 0;
		}
	}
}
</style>
