<template>
	<div class="sections">
		<div class="intro">
			<img src="../assets/images/about.jpg" alt="">
		</div>
		<div class="section about">
			<h1>About us</h1>
			<div class="container">
				<div class="row">
					<div class="hidden-sm-down col-md-4">
						<img src="../assets/images/about-1.jpg" alt="" class="resp rounded">
					</div>
					<div class="col-12 col-md-8 intro">
						<p>Our villas Opened November 2011 - 3 private luxurious and minimalist western style 1 & 2 bedroom villas. Ka ta la villas is a complex villas consist with 1 units x 1 Bedroom villa and 2 units x 2 Bedrooms villas. Please select the type of villa you require based on the number of beds needed, that way you and your guests will be properly accommodated.</p>
						<p>Our Suites Opened September 2014 - 11 Suites with garden view and minimalist western style.</p>
						<p>Sanur is one of the famous village and the main attraction here is the white sand beach bordering a reef-sheltered lagoon. Due to the protection of the lagoon, this beach is one of the safest on the island, and thus perfect for families. Sanur also has some of the best places for those who want to dine in luxury.</p>
						<p>Daily life needed there is Hardy’s Supermarket in JI.Danau Tamblingan is the place for imported Wine and spirits, meats and cheeses, and many more options as well as general toiletry items, and any others 24 hours store such as Circle K offer soft drinks, beer, and snack.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'About',
	data () {
		return {
			msg: 'Welcome to Your Vue.js App'
		}
	}
}
</script>

<style lang="scss" scoped>
.container {
	max-width: 840px;
}
.sections {
	width: 100%;
}
.intro {
	width: 100%;
	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
.about .intro p {
	font-size: 14px;
	text-align: justify;
}
</style>
