<template>
	<div class="sections">
		<div class="intro">
			<img src="../assets/images/contact.jpg" alt="">
		</div>
		<div class="section contact">
			<h1>Contact Us</h1>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.9654825242637!2d115.25810751538393!3d-8.694827793753142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd241b7d367d88f%3A0xada6c8a72c809467!2sKatala+Suites+%26+Villas!5e0!3m2!1sen!2s!4v1491156537986" height="450" frameborder="0" style="border:0; width: 100%; border-radius: 5px;" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<br><br>
			<div class="container">
				<div class="row">
					<div class="col-12 offset-md-1 col-md-4 sidebar">
						<h3>Info and Reservation</h3>
						<p>Phone : <a href="tel:+62361271617" title="">+62 361 271 617</a><br>
						E-mail : <a href="mailto:info@katalasuitesandvillas.com" title="">info@katalasuitesandvillas.com</a></p>
						<a href="https://booking.ichronoz.id/?property=f10d3a4fcf969b06e43914c5289a112c0&utc=&availcheck=BOOK#/" target="_blank" class="btn btn-info">reservation <i class="fa fa-fw fa-angle-right"></i></a>
					</div>
					<div class="col-12 col-md-6 intro text-center text-sm-left">
						<h3>Send Us a Message</h3>
						<form method="post" @submit.prevent="submitForm()">
							<div class="form-group row">
								<div class="col-6"><input type="text" name="fname" placeholder="Your first name" required v-model="form.fname" class="form-control"></div>
								<div class="col-6"><input type="text" name="lname" placeholder="Your surname" required v-model="form.lname" class="form-control"></div>
							</div>
							<div class="form-group row">
								<div class="col-12"><input type="text" name="email" placeholder="Your email address" required v-model="form.email" class="form-control"></div>
							</div>
							<div class="form-group row">
								<div class="col-12">
									<textarea name="message" class="form-control" v-model="form.message" placeholder="write your message" rows="10"></textarea>
								</div>
							</div>
							<p>Enter the code below</p>
							<div class="form-group row">
								<div class="col-4">
									<input type="text" name="captchaText" v-model="form.captchaText" class="form-control captcha-text">
								</div>
								<div class="col text-left">
									<button disabled class="captcha">{{ form.captcha }}</button>
								</div>
							</div>
							<br>
							<button type="submit" name="submit" class="btn btn-lg btn-info" :disabled="!canSubmit"><i class="fa fa-fw fa-envelope"></i> send message</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Contact',
	data () {
		return {
			form: {
				fname: '',
				lname: '',
				email: '',
				message: '',
				captcha: '',
				captchaText: '',
			}
		}
	},
	computed: {
		generateCaptcha() {
			var length = 5
			return Math.round((Math.pow(36, length + 1) - Math.random() * Math.pow(36, length))).toString(36).slice(1);
		},
		canSubmit() {
			return (this.form.fname != '' && this.form.lname != '' && this.form.email != '' && this.form.message != '' && this.form.captcha == this.form.captchaText.toUpperCase())
		}
	},
	methods: {
		submitForm() {
			$.ajax({
				url: '/form.php',
				method: 'POST',
				data: this.form
			})
			.done((res) => {
				window.alert('Your message has been sent!')
				this.form.fname = ''
				this.form.lname = ''
				this.form.message = ''
				this.form.email = ''
				this.form.captcha = this.generateCaptcha.toUpperCase()
				this.form.captchaText = ''
			})
		}
	},
	created() {
		this.form.captcha = this.generateCaptcha.toUpperCase()
	}
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/mixins';
.sections {
	width: 100%;
}
.intro {
	width: 100%;
	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
.contact {
	h3 {
		text-transform: uppercase;
		color: #aaa;
		font-weight: 500;
		font-size: 1.2em;
		margin-bottom: 20px;
	}
	.intro p {
		font-size: 14px;
		text-align: justify;
	}
	.sidebar p {
		font-size: 14px;
		line-height: 200%;
		a {
			color: #33b3ce;
			font-weight: 500;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.btn {
		text-transform: uppercase;
		font-size: .9em;
		font-weight: 400;
		letter-spacing: 1px;
	}
	input[type="text"], textarea {
		font-family: 'Gotham';
		font-size: 14px;
		color: #444;
	}
	textarea {
		line-height: 150%;
	}
	.captcha {
		background-color: transparent;
		border: 0;
		padding: 0;
		margin: 0;
		outline: none;
		font-size: 1.4em;
		font-family: Inconsolata, 'Courier New', monospace;
		letter-spacing: 3px;
		color: red;
	}
	input.captcha-text {
		font-size: 1.1em;
		font-family: Inconsolata, 'Courier New', monospace !important;
		letter-spacing: 3px;
		text-transform: uppercase; 
	}
	button[type="submit"] {
		cursor: pointer
	}
	@include phone {
		h3 {
			text-align: center;
		}
		.sidebar {
			margin-bottom: 40px;
			text-align: center;
		}
	}
}
</style>
