<template>
	<div class="sections">
		<div class="intro">
			<img src="../assets/images/gallery.jpg" alt="">
		</div>
		<div class="section gallery">
			<h1>Gallery</h1>
			<div class="container">
				<div class="row">
					<div class="col-6 col-sm-3 thumbs" v-for="(gallery, index) in galleries">
						<a :href="loadImage('', gallery)" data-lightbox="roadtrip"><img :src="loadImage('thumb_', gallery)" class="resp"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
require('lightbox2')
export default {
	name: 'Gallery',
	data () {
		return {
			galleries: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
		}
	},
	computed: {
		
	},
	methods: {
		loadImage(type, id) {
			return require('../assets/images/gallery/'+ type + id +'.jpg')
		}
	},
	created() {
		
	}
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/mixins';
.sections {
	width: 100%;
}
.intro {
	width: 100%;
	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
.gallery {
	.thumbs {
		padding-left: 7px;
		padding-right: 7px;
		margin-bottom: .8em;
	}
}
</style>
