<template>
	<div class="sections">
		<div class="intro">
			&nbsp;
		</div>
		<div class="section home">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1>Katala Suites & Villas, Sanur Bali</h1>
						<div class="pg">
							<h2>Situated in Sanur, Katala Suites and Villa is the perfect place to experience Bali and its surroundings. The excitement of the city center is only away. With its convenient location, the hotel offers easy access to the city's must-see destinations.</h2>
							<p>Katala Suites and Villa also offers many facilities to enrich your stay in Bali. A selection of top-class facilities such as free Wi-Fi in all rooms, Wi-Fi in public areas, car park, room service can be enjoyed at the hotel.</p>
							<p>In addition, in villa all guestrooms feature a variety of comforts. Many rooms even provide internet access, private pool for villa, internet access, air conditioning, wake-up service to please the most discerning guest. Throughout the day you can enjoy the relaxing atmosphere of the outdoor pool, massage, garden. Superb facilities and an excellent location make the Katala Suites and Villa the perfect base from which to enjoy your stay in Bali.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="select-accommodations">
			<template v-for="acco in accommodations">
				<router-link :to="`/accommodations/${acco.id}/${acco.slug}`">
					<img :src="loadImage(acco.id)" :alt="acco.name"/>
					<div class="desc">
						<h3>{{ acco.name }}</h3>
						<p>{{ acco.desc }}</p>
					</div>
				</router-link>
			</template>
		</div>
	</div>
</template>

<script>
import { Acco } from '../data/accommodations'
export default {
	name: 'Home',
	data () {
		return {
			accommodations: Acco
		}
	},
	methods: {
		loadImage(id) {
			return require('../assets/images/acco/acco-'+ id +'.jpg')
		}
	}
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/mixins.scss';
.sections {
	width: 100%;
}
.intro {
	width: 100%;
	height: 100vh;
	background: transparent url('../assets/images/home.jpg') center center no-repeat;
	background-size: cover;
}
.pg h2 {
	text-transform: none;
	text-align: justify;
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: 0;
	margin-bottom: 0;
	&:after {
		border: 0;
		height: 0;
		width: 0;
		display: none;
	}
}
.select-accommodations {
	display: flex;
	flex-wrap: no-wrap;
	width: 100%;
	a:last-child {
		border-right: 0;
	}
	a {
		position: relative;
		display: block;
		max-width: 100%;
		border-top: 5px solid #eee;
		transition: .2s all ease;
		border-right: 1px solid #eee;
		&:hover {
			border-top: 5px solid #33b3ce;
			span { opacity: 1; }
			text-decoration: none;
			.desc h3 { color: #33b3ce }
		}
		span {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			text-transform: uppercase;
			color: #fff;
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: 400;
			text-align: center;
			background-color: rgba(#000, .5);
			opacity: .5;
			transition: .2s opacity ease;
		}
		.desc {
			padding: 1em;
			h3 {
				font-family: 'Didot';
				color: #222;
				margin-bottom: .5em;
			}
			p {
				font-size: 13px;
				text-align: justify;
				color: #2b2b2b;
			}
		}
	}
	a img {
		display: block;
		margin: 0;
		padding: 0;
		max-width: 100%;
	}
	@include phone-and-tablet {
		a { border-right: 0 }
	}
}
@include phone {
	.select-accommodations {
		flex-wrap: wrap;
	}
}
</style>
