<template>
	<div class="sections">
		<div class="intro">
			<img src="../assets/images/rates.jpg" alt="">
		</div>
		<div class="section rates">
			<h1>Rates and Services</h1>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<table class="table table-striped">
							<tr class="th">
								<th width="40%">Accommodations</th>
								<th width="30%">Low Season</th>
								<th width="30%">High Season</th>
							</tr>
							<tbody>
								<tr>
									<td>Suites</td>
									<td><b>Rp. 1.390.000,-</b></td>
									<td><b>Rp. 1.500.000,-</b></td>
								</tr>
								<tr>
									<td>One Bedroom Villas</td>
									<td><b>Rp. 2.230.000,-</b></td>
									<td><b>Rp. 2.600.000,-</b></td>
								</tr>
								<tr>
									<td>Two Bedroom Villas</td>
									<td><b>Rp. 3.230.000,-</b></td>
									<td><b>Rp. 3.800.000,-</b></td>
								</tr>
							</tbody>
						</table>
						<p><b>Rates inclusion</b></p>
						<ul>
							<li>Choice of breakfast</li>
							<li>Welcome drinks on arrival</li>
							<li>Service may diferent depend on OTA ( Online Travel Agent ) or Online Booking Agent</li>
						</ul>
						<br><br>
						<table class="table table-striped">
							<tr class="th">
								<th width="40%">Season</th>
								<th width="30%">Date 1</th>
								<th width="30%">Date 2</th>
							</tr>
							<tbody>
								<tr>
									<td>Normal Season</td>
									<td><b>11 January - 30 June</b></td>
									<td><b>1 September - 19 December</b></td>
								</tr>
								<tr>
									<td>High Season</td>
									<td><b>20 December - 10 January</b></td>
									<td><b>1 July - 31 August</b></td>
								</tr>
							</tbody>
						</table>
						<p><b>Check In and Check Out</b></p>
						<ul>
							<li>Check In : 14:00</li>
							<li>Check Out : 12:00</li>
						</ul>
						<hr>
						<h2>payment</h2>
						<ul>
							<li>In order to guarantee reservations we must receive a completed credit card charge authorization form OR a deposit equivalent to a minimum one night accommodation OR as advised for promotional rates.</li>
							<li>Credit cards accepted: Visa, MasterCard, American Express, BCA, JCB.</li>
							<li>Additional charge 2.5% for bank charge if use Credit Card.</li>
						</ul>
						<hr>
						<h2>cancellation</h2>
						<ul>
							<li>Any cancellation received within 14 days (for low season) and 21 days (for high season) prior to arrival is subject to a cancellation fee equivalent to one (1) night charge or as advised for promotional and group rates.</li>
							<li>Any cancellation received within 7 days (for low season) and 14 days (for high season) prior to arrival is subject to a cancellation fee equivalent to 50% of the entire booking/number of nights reserved or as advised for promotional and group rates.</li>
							<li>Cancellation within 24 hours prior to arrival, no show and early check out are subject to 100% of the entire booking/number of nights reserved.</li>
						</ul>
						<hr>
						<h2>child policy and extra person</h2>
						<ul>
							<li>Due to safety considerations in the suites and villas, reservations for children under 12 years of age are not recommended and no responsibility will be taken by the management.</li>
							<li>Children 0 - 5 years old, sleep with their parents and free breakfast.</li>
							<li>Children between 5-12 years old, extra bed is charged 100% ; breakfast is charged at 50% of normal breakfast</li>
							<li>Children above 12 years old are regarded as extra persons.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Rates',
	data () {
		return { }
	}
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/mixins';
.container {
	max-width: 840px;
}
.sections {
	width: 100%;
}
.intro {
	width: 100%;
	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
.rates .intro p {
	font-size: 14px;
	text-align: justify;
}
.rates ul {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: block;
		font-size: 14px;
		margin-bottom: 5px;
		line-height: 160%;
		border-bottom: 1px solid #eee;
		padding-bottom: 5px;
		&:before {
			font-family: 'FontAwesome';
			content: "\f105";
			margin-right: 10px;
		}
	}
	@include phone {
		li {
			font-size: 13px;
		}
		li:last-child {
			border-bottom: 0;
		}
	}
}
</style>
