<template>
	<div id="app">
		<app-header></app-header>
		<transition name="fade" mode="out-in">
			<router-view keep-alive></router-view>
		</transition>
		<app-footer></app-footer>
	</div>
</template>

<script>
import header from './layouts/header.vue'
import footer from './layouts/footer.vue'
export default {
	name: 'app',
	components: {
		'app-header': header,
		'app-footer': footer
	}
}
</script>

<style>
.slide-enter-active {
	transition: all .2s ease-in-out;
}
.slide-leave-active {
	transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-active {
	padding-left: 20px;
	opacity: 0;
}
.fade-enter-active, .fade-leave-active {
	transition: all .3s ease-in-out
}
.fade-enter, .fade-leave-active {
	opacity: 0.01
}
</style>
