<template>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 text-center text-sm-left">
					<img src="../assets/images/logo-footer.png" alt="Katala Suites and Villas" class="foot-logo">
				</div>
				<div class="col-xs-12 col-md-8">
					<div class="row">
						<div class="col-6 col-md-4">
							<h3>accommodations</h3>
							<ul>
								<li><router-link to="/accommodations/1/katala-suites">Katala Suites</router-link></li>
								<li><router-link to="/accommodations/2/one-bedroom-villas">One Bedroom Villas</router-link></li>
								<li><router-link to="/accommodations/3/two-bedroom-villas">Two Bedroom Villas</router-link></li>
							</ul>
						</div>
						<div class="col-6 col-md-3">
							<h3>pages</h3>
							<ul>
								<li><router-link to="/pages/about-us">About Us</router-link></li>
								<li><router-link to="/pages/rates-and-services">Rates and Services</router-link></li>
								<li><router-link to="/gallery">Gallery</router-link></li>
								<li><a href="#" target="_blank">Reservation</a></li>
							</ul>
						</div>
						<div class="col-6 col-md-5 address">
							<h3>contact</h3>
							<p>Jl. PUNGUTAN NO. 99F<br>
							SANUR, BALI, INDONESIA<br>
							PH: 62 361 271 617<br>
							INFO@KATALASUITESANDVILLAS.COM</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 copytext">
					<p>&copy; 2017 - katalasuitesandvillas.com</p>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss">
@import '../assets/scss/mixins.scss';
footer {
	background-color: #33b3ce;
	padding: 30px 0;
	h3 {
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		font-weight: 500;
		display: block;
		margin-bottom: 10px;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	ul li a {
		display: block;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 300;
		color: rgba(#fff, .7);
		margin-bottom: 5px;
		transition: .2s color ease;
	}
	ul li a:hover, ul li a:focus {
		color: #fff;
		text-decoration: none;
	}
	.address p {
		color: rgba(#fff, .7);
		font-size: 12px;
		line-height: 170%;
		word-wrap: break-word;
	}
	.copytext {
		p {
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
			margin-bottom: 0;
			font-weight: 200;
		}
	}
}
@include tablet {
	footer {
		.address p {
			font-size: 10px;
		}
	}
}
@include phone {
	footer {
		padding: 20px 0;
	}
	img.foot-logo {
		margin-bottom: 30px;
	}
	.copytext p {
		margin-bottom: 0;
	}
}
</style>