<template>
	<header>
		<router-link to="/" class="logo resp"><img src="../assets/images/logo.png" alt="Katala Suites and Villas" class="resp"></router-link>
		<ul class="menu">
			<li class="parent"><a href="#" title=""><i class="fa fa-fw fa-bars"></i> menu</a></li>
			<li class="menu-hide"><router-link to="/" exact>home</router-link></li>
			<li class="menu-hide"><router-link to="/pages/about-us">about us</router-link></li>
			<li class="menu-hide"><router-link to="/accommodations">accommodations</router-link></li>
			<li class="menu-hide"><router-link to="/pages/rates-and-services">rates and services</router-link></li>
			<li class="menu-hide"><router-link to="/gallery">gallery</router-link></li>
			<li class="menu-hide"><router-link to="/pages/contact">contact</router-link></li>
			<li class="menu-hide book-now"><a href="https://booking.ichronoz.id/?property=f10d3a4fcf969b06e43914c5289a112c0&utc=&availcheck=BOOK#/" target="_blank">book now</a></li>
		</ul>
	</header>
</template>

<script>
var $ = require('jquery')
export default {
	name: 'Header'
}
$(document).ready(function() {
	$('.parent a').on('click', function(e) {
		e.preventDefault
		toggleMenu()
	})

	$('ul.menu li:not([class="parent"]) a').on('click', function (e) {
		toggleMenu()
	})

	function toggleMenu() {
		var ul = 'ul.menu'
		$(ul).find('li').each(function(index, val) {
			if (!$(val).hasClass('parent')) {
				var dur = index * 20
				setTimeout(() => {
					if (!$(val).hasClass('menu-hide')) {
						$(val).addClass('menu-hide')
					} else {
						$(val).removeClass('menu-hide')
					}
				}, dur)
			}
		})
	}
})
</script>

<style lang="scss">
header {
	width: 100%;
	position: fixed;
	background-color: rgba(#fff, .9);
	text-align: center;
	padding: 30px 20px 20px 20px;
	box-shadow: 0 0 10px 3px rgba(0,0,0,.1);
	z-index: 10;
	a.logo {
		display: inline-block;
	}
	a.logo img {
		display: block;
		margin: 0 auto 15px auto;
	}
}
ul li.parent a:focus {
	color: #2b2b2b;
}
</style>